.container{
    display: flex;
    justify-content: center;
}
/* button{
    position: relative;    
    left: 60vh;
} */
button{
    color: #000000;
    margin: 6px;
    padding: 10px 10px;  
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
}
button:hover{
    background: #000;
    color: white;
}