.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 200px;
}
.heading{
    margin-left:310px;
}
body{
    background: rgb(1, 70, 70);
    
}

.active{
    color: yellow;
}
.inactive{
    color: black;
}